:root {
  --primary-text-color: #ffffff;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --base-text-color: #434455;
  --primari-whitecolor: #ffffff;
  --btn-hover-color: #404bbf;
  --btn-secondary-color: #e7e9fc;
  --second-white-text: #f4f4fd;
}

body {
  background-color: var(--primari-whitecolor);
  color: var(--base-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/*to hide service*/
.to-hide {
  display: none;
}

/* button */

.button-herro {
  color: var(--primari-whitecolor);
  background-color: var(--accent-color);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em; 
}

.button-herro:hover,
.button-herro:focus {
  color: var(--primari-whitecolor);
  background-color: var(--btn-hover-color);
}
/* btn in Portfolio */
.button-filtr {
  color: var(--accent-color);
  background-color: var(--second-white-text);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-filtr:hover,
.button-filtr:focus {
  color: var(--primari-whitecolor);
  background-color: var(--btn-hover-color);
}

/* delete poit in UL */
.list {
  list-style: none;
}

/* heder */

/* Logo */
.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--title-text-color);
}

/* logo for footer */
.footer .logo-studio {
  color: var(--second-white-text);
}

/* site nav */
.nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.nav .link:hover,
.nav .link:focus {
  color: var(--btn-hover-color);
}
.nav-l {
  color: var(--title-text-color);

  text-decoration: none;
}

/* .nav .link.current { */
  /* color: var(--btn-hover-color); */
/* } */

/* adress */
.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  
}
.adress .link {
  color: var(--base-text-color);
  
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;

}

.adress .link:hover,
.adress .link:focus {
  color: var(--btn-hover-color);
}

/* herro */
.herro {
  background-color: var(--title-text-color);
}

.herro-title {
  color: var(--primari-whitecolor);

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.section .section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

/* Principles of work */
.section .section-subtitle {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}


.section .desc {
  color: var(--base-text-color);
  line-height: 24px;
  letter-spacing: 0.02em;

}
/* our-projects */
.our-projects .section-title{
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-projects {
  background-color: var(--primari-whitecolor);
 
}

/* Our team */
.team {
  background-color: var(--second-white-text);
}
.section-tm-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  
}

.style-img {
  background-color: var(--primari-whitecolor);
}

.section .name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em
}
.section .profession {
  color: var(--base-text-color);
  
  line-height: 24px;
  letter-spacing: 0.02em;
}
/* foter */
.footer {
  background-color: var(--title-text-color);
}

.footer .text {
  color: var(--second-white-text);
}

/* portfolio  */
.link{
  text-decoration: none;
}

.desc-product {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.desc-sferprodact {
  color: var(--base-text-color);
  
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
